<div
  hidden
  id="vue-chat"
></div>

<div
  hidden
  id="vue-chat-data"
  data-room-id="<%= @room.id %>"
  data-room-title="<%= @room.name %>"
  data-user-id="<%= @user_id %>"
></div>

<div id="bottom-element"></div>
