.button {
  display: inline-block;
  color: var(--light-color);
  text-decoration: none;
  padding: 0.6em 1em;
  margin: 0.2em 0;
  background-color: var(--accent-color);
  border-radius: 5px;
  cursor: pointer;

  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;

  &:hover {
    background-color: var(--accent-color-hover);
  }

  &.is-disabled {
    pointer-events: none;
    filter: grayscale(70%) opacity(0.7);
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .button {
    margin: 0.2em 1em;
  }
}
