.card {
  margin-bottom: 2em;
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  overflow: hidden;

  &.is-round {
    border-radius: 15px;
  }
}


// Mobile
@media only screen and (max-width: 600px) {
  .card {
    margin: 0.8em;
  }
}
